In [ ]:
#Created By: Stanley G. Joseph, October 4, 2021
#LinkedinIn: https://www.linkedin.com/in/stanley-george-joseph-2aa569216/
#Youtube: https://www.youtube.com/channel/UC2Yt4idSq5rMLrrsWP5dkpw

# CRUD Operations

### Create

In [20]:
import pymongo 

myclient = pymongo.MongoClient("mongodb://localhost:27017/")

In [2]:
#creating new database
mydb = myclient["EmpDB"]

#creating new collection
mycol = mydb["Employees"]

In [21]:
#creating new documents
mydict = { "name": "John", "address": "Highway 37" }

x = mycol.insert_one(mydict)

In [ ]:
mydb = myclient["EmpDB"]

mycol = mydb["Employees"]

In [22]:
#inserting multiple documents
mylist = [
  { "name": "Amy", "address": "Apple st 652"},
  { "name": "Hannah", "address": "Mountain 21"},
  { "name": "Michael", "address": "Valley 345"},
  { "name": "Sandy", "address": "Ocean blvd 2"},
  { "name": "Betty", "address": "Green Grass 1"},
  { "name": "Richard", "address": "Sky st 331"},
  { "name": "Susan", "address": "One way 98"},
  { "name": "Vicky", "address": "Yellow Garden 2"},
  { "name": "Ben", "address": "Park Lane 38"},
  { "name": "William", "address": "Central st 954"},
  { "name": "Chuck", "address": "Main Road 989"},
  { "name": "Viola", "address": "Sideway 1633"}
]

x = mycol.insert_many(mylist)

### Read

In [23]:
print(myclient.list_database_names())

['EmpDB', 'admin', 'config', 'local']

In [24]:
print(mydb.list_collection_names())

['Employees']

In [ ]:
mydb = myclient["EmpDB"]

mycol = mydb["Employees"]

In [25]:
for x in mycol.find({}):
    print(x, "\n")

{'_id': ObjectId('6166437f53a8b80be60778ca'), 'name': 'John', 'address': 'Highway 37'}

{'_id': ObjectId('616643f553a8b80be60778cb'), 'name': 'Amy', 'address': 'Apple st 652'}

{'_id': ObjectId('616643f553a8b80be60778cc'), 'name': 'Hannah', 'address': 'Mountain 21'}

{'_id': ObjectId('616643f553a8b80be60778cd'), 'name': 'Michael', 'address': 'Valley 345'}

{'_id': ObjectId('616643f553a8b80be60778ce'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}

{'_id': ObjectId('616643f553a8b80be60778cf'), 'name': 'Betty', 'address': 'Green Grass 1'}

{'_id': ObjectId('616643f553a8b80be60778d0'), 'name': 'Richard', 'address': 'Sky st 331'}

{'_id': ObjectId('616643f553a8b80be60778d1'), 'name': 'Susan', 'address': 'One way 98'}

{'_id': ObjectId('616643f553a8b80be60778d2'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}

{'_id': ObjectId('616643f553a8b80be60778d3'), 'name': 'Ben', 'address': 'Park Lane 38'}

{'_id': ObjectId('616643f553a8b80be60778d4'), 'name': 'William', 'address': 'Central st 954'}

{'_id': ObjectId('616643f553a8b80be60778d5'), 'name': 'Chuck', 'address': 'Main Road 989'}

{'_id': ObjectId('616643f553a8b80be60778d6'), 'name': 'Viola', 'address': 'Sideway 1633'}

In [ ]:
mydb = myclient["EmpDB"]

mycol = mydb["Employees"]

In [26]:
myresult = mycol.find().limit(5)

for x in myresult:
    print(x , "\n")

{'_id': ObjectId('6166437f53a8b80be60778ca'), 'name': 'John', 'address': 'Highway 37'}

{'_id': ObjectId('616643f553a8b80be60778cb'), 'name': 'Amy', 'address': 'Apple st 652'}

{'_id': ObjectId('616643f553a8b80be60778cc'), 'name': 'Hannah', 'address': 'Mountain 21'}

{'_id': ObjectId('616643f553a8b80be60778cd'), 'name': 'Michael', 'address': 'Valley 345'}

{'_id': ObjectId('616643f553a8b80be60778ce'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}

### Update

In [ ]:
mydb = myclient["EmpDB"]

mycol = mydb["Employees"]

In [27]:
myquery = { "name": "Michael" }
newvalues = { "$set": { "address": "Canyon 123" } }

mycol.update_one(myquery, newvalues)

In [ ]:
mydb = myclient["EmpDB"]

mycol = mydb["Employees"]

In [28]:
#find documents where the address starts with the letter "S"
for x in mycol.find({ "address": { "$regex": "^S" } }):
    print(x)

{'_id': ObjectId('616643f553a8b80be60778d0'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('616643f553a8b80be60778d6'), 'name': 'Viola', 'address': 'Sideway 1633'}

In [29]:
#update name where the address starts with "S"
myquery = { "address": { "$regex": "^S" } }
newvalues = { "$set": { "name": "John" } }

x = mycol.update_many(myquery, newvalues)

print(x.modified_count, "documents updated.")

2 documents updated.

In [30]:
for x in mycol.find({ "address": { "$regex": "^S" } }):
    print(x)

{'_id': ObjectId('616643f553a8b80be60778d0'), 'name': 'John', 'address': 'Sky st 331'}
{'_id': ObjectId('616643f553a8b80be60778d6'), 'name': 'John', 'address': 'Sideway 1633'}

### Delete

In [31]:
print(mycol.count_documents({}))

13

In [32]:
#delete where address is "Highway 37"
myquery = { "address": "Highway 37" }

mycol.delete_one(myquery)

In [33]:
print(mycol.count_documents({}))

12

In [34]:
#example of delete many
myquery = { "name": "John" }

x = mycol.delete_many(myquery)

print(x.deleted_count, "documents deleted.")

2 documents deleted.

In [35]:
print(mycol.count_documents({}))

10

In [36]:
#delete whole collection
x = mycol.delete_many({})

print(x.deleted_count, " documents deleted.")

10  documents deleted.

In [37]:
print(mycol.count_documents({}))

0

# Loading a .csv to MongoDB

In [85]:
import pandas as pd
from pymongo import MongoClient
import json

def mongoimportcsv(csv_path, db_name, coll_name, db_url, db_port):

    client = MongoClient(db_url, db_port)
    db = client[db_name]
    coll = db[coll_name]
    data = pd.read_csv(csv_path)
    load = json.loads(data.to_json(orient='records'))
    coll.delete_many({})
    coll.insert_many(load)
    
    print (coll.count_documents({}), "documents inserted")

In [86]:
x = mongoimportcsv("countries.csv", "geography", "countries", "mongodb://localhost", 27017)

250 documents inserted

In [ ]:
myclient = pymongo.MongoClient("mongodb://localhost:27017/")

mydb = myclient["geography"]
mycol = mydb["countries"]

#read documents(rows) using a for loop
for x in mycol.find({}):
    print(x, "\n")

# Loading a .json to MongoDB

In [91]:
from pymongo import MongoClient
import json

def mongoimportjson(json_data_file, db_name, coll_name, db_url, db_port):

    client = MongoClient(db_url, db_port)
    db = client[db_name]
    coll = db[coll_name]
    
    with open(json_data_file, "r") as read_file:
        data = json.load(read_file)
        
    coll.delete_many({})
    coll.insert_many(data)

    print (coll.count_documents({}), "documents inserted")

In [92]:
y = mongoimportjson("states.json", "geography", "states", "mongodb://localhost", 27017)

4882 documents inserted

In [ ]:
myclient = pymongo.MongoClient("mongodb://localhost:27017/")

mydb = myclient["geography"]
mycol = mydb["states"]

#read documents(rows) using a for loop
for x in mycol.find({}):
    print(x, "\n")

# Loading data from MySQL into MongoDB

In [38]:
import pandas as pd
import pymongo 
import sqlalchemy as sa

# pip install sqlalchemy
# pip install pymysql 


# connect mysql
#'mysql+pymysql://root:password@localhost:3306/geography' = 'root' is the username of the db, 
#'password' is the password  of the db, '3306' is the port number of the db and 'geography' is the name of the schema

mysql_engine = sa.create_engine('mysql+pymysql://root:password@localhost:3306/geography')

df = pd.read_sql_table('cities', mysql_engine)

# connect MongoDB
myclient = pymongo.MongoClient("mongodb://localhost:27017/")

db = myclient["geography"]
coll = db["cities"]

coll.delete_many({})
coll.insert_many(df.to_dict('records'))

In [39]:
print (coll.count_documents({}))

147418

# Cloud (Atlas)

In [59]:
import pymongo

#get the connection string on MongoAtlas
client = pymongo.MongoClient("mongodb+srv://StanleyJoseph:Welcome123@cluster0.sujdr.mongodb.net/geography?retryWrites=true&w=majority")

In [60]:
client.list_database_names()

['geography', 'admin', 'local']

In [61]:
db = client["geography"]

coll = db["countries"]

db.list_collection_names()

['countries']

In [ ]:
#read only the name, phone_code and currency from the documents(rows) using a for loop
for x in coll.find({}):
    print(x["name"], x["phone_code"], x["currency"], "\n")

# Load data from MongoDB into a Pandas DataFrame

In [6]:

db = client["geography"]
coll = db["countries"]
documents = coll.find({})

df =  pd.DataFrame(list(documents))
df.head()

,_id,id,name,iso3,iso2,numeric_code,phone_code,capital,currency,currency_symbol,tld,native,region,subregion,timezones,latitude,longitude,emoji,emojiU
0,61665b7e3c52f2fef1cfb0d1,1,Afghanistan,AFG,AF,004,93,Kabul,AFN,ÿã,.af,ÿßŸÅÿ∫ÿßŸÜÿ≥ÿ™ÿßŸÜ,Asia,Southern Asia,"[{zoneName:'Asia\/Kabul',gmtOffset:16200,gmtOf...",33.00000000,65.00000000,üá¶üá´,U+1F1E6 U+1F1EB
1,61665b7e3c52f2fef1cfb0d2,2,Aland Islands,ALA,AX,248,+358-18,Mariehamn,EUR,‚Ç¨,.ax,√Öland,Europe,Northern Europe,"[{zoneName:'Europe\/Mariehamn',gmtOffset:7200,...",60.11666700,19.90000000,üá¶üáΩ,U+1F1E6 U+1F1FD
2,61665b7e3c52f2fef1cfb0d3,3,Albania,ALB,AL,008,355,Tirana,ALL,Lek,.al,Shqip√´ria,Europe,Southern Europe,"[{zoneName:'Europe\/Tirane',gmtOffset:3600,gmt...",41.00000000,20.00000000,üá¶üá±,U+1F1E6 U+1F1F1
3,61665b7e3c52f2fef1cfb0d4,4,Algeria,DZA,DZ,012,213,Algiers,DZD,ÿØÿ¨,.dz,ÿßŸÑÿ¨ÿ≤ÿßÿ¶ÿ±,Africa,Northern Africa,"[{zoneName:'Africa\/Algiers',gmtOffset:3600,gm...",28.00000000,3.00000000,üá©üáø,U+1F1E9 U+1F1FF
4,61665b7e3c52f2fef1cfb0d5,5,American Samoa,ASM,AS,016,+1-684,Pago Pago,USD,$,.as,American Samoa,Oceania,Polynesia,"[{zoneName:'Pacific\/Pago_Pago',gmtOffset:-396...",-14.33333333,-170.00000000,üá¶üá∏,U+1F1E6 U+1F1F8